<ion-header>
    <ion-toolbar>
      <ion-title>Ajouter une fiche</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-item color="light">
      <ion-label position="floating" color="dark">Titre</ion-label>
      <ion-input inputmode = "text" [(ngModel)]="newReadingSheet.Title" required minlength="5"></ion-input>
    </ion-item>
    
    <ion-item color="light">
      <ion-label position="floating"> <h2> Auteur </h2></ion-label>
      <ion-textarea rows="1" [(ngModel)]="newReadingSheet.Author" required minlength="5"></ion-textarea>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Nombre de pages</ion-label>
      <ion-input inputmode = "number" [(ngModel)]="newReadingSheet.PagesNumber" required minlength="5"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Résumé</ion-label>
      <ion-textarea rows="1" [(ngModel)]="newReadingSheet.Summary" required minlength="5"></ion-textarea>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Analyse critique</ion-label>
      <ion-textarea rows="1" [(ngModel)]="newReadingSheet.CriticalAnalysis" required minlength="5"></ion-textarea>
    </ion-item>

    <ion-item color="light">
      <ion-label position="floating">Catégorie</ion-label>
      <ion-select [(ngModel)]="newReadingSheet.category.title"  required>
          <ion-select-option *ngFor="let category of categories">{{category.title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <div>
      <ion-button color = "dark" (click)="validation()"> Valider</ion-button>
      <ion-button color = "dark" routerLink = "/reading-sheets-show"> Précédent</ion-button>
    </div>
  
  </ion-content>
  
