<ion-header>
  <ion-toolbar>
    <ion-title><h1>{{category.title}}</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item color="light">
      <ion-label position="floating" color="dark">Titre : </ion-label>
  </ion-item>
  <p> {{category.title}}</p> <br/>
  
  <ion-item color="light">
    <ion-label position="floating">Description : </ion-label>
  </ion-item>
  <p> {{ category.description }}</p>

  <div>
  <br/>
    <ion-button color = "dark" routerLink = "/category/{{category.title}}/edit"> Modifier</ion-button>
    <ion-button color = "dark" (click) = "deleteCategory()"> Supprimer</ion-button>
    <ion-button color = "dark" routerLink = "/categories-show"> Précédent</ion-button>
  </div>

</ion-content>
