<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Bienvenue !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cette application web a pour but de répertorier tous les livres que tu liras. 
            celle-ci sert non seulement à les classer par catégorie, mais également à t'obliger a créer des fiches de lecture pour garder un petit 
          souvenir de cette lecture.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <ion-card-content>
            <p>Tu pourras également créer tes propres catégories afin de classer tes livres comme bon te semble.</p>
            <p>Bonne futures lectures !</p>
        </ion-card-content>
    </ion-card>

</ion-content>
