<ion-header>
  <ion-toolbar>
    <ion-title>{{readingSheet.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <h3> Titre :</h3>
       <p> {{readingSheet.Title}}</p> <br/>
      <h3> Auteur :</h3>
       <p> {{ readingSheet.Author }}</p>
      <h3>Nombre de pages:</h3>
       <p>{{ readingSheet.PagesNumber }}</p>
      <h3>Résumé:</h3>
       <p>{{ readingSheet.Summary }}</p>
      <h3>Analyse critique:</h3>
       <p>{{ readingSheet.CriticalAnalysis }}</p>
      <h3>Catégorie:</h3>
       <p>{{ readingSheet.category.title }}</p>
    </div>
  
    <div>
    <br/>
    <br/>
      <ion-button color = "dark" routerLink = "/reading-sheet/{{readingSheet.id}}/edit"> Modifier</ion-button>
      <ion-button color = "dark" (click) = "deleteReadingSheet()"> Supprimer</ion-button>
      <ion-button color = "dark" routerLink = "/reading-sheets-show"> Précédent</ion-button>
    </div>
  
  </ion-content>