<ion-header>
  <ion-toolbar>
    <ion-title>{{readingSheet.Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item color="light">
        <ion-label position="floating" color="dark">Titre : </ion-label>
    </ion-item>
    <p>{{readingSheet.Title}} </p> <br/>
      
      <ion-item color="light">
        <ion-label position="floating"> <h2> Auteur : </h2></ion-label>
      </ion-item>
      <p> {{ readingSheet.Author }}</p>
  
      <ion-item color="light">
        <ion-label position="floating">Nombre de pages : </ion-label>
      </ion-item>
      <p>{{ readingSheet.PagesNumber }}</p>
  
      <ion-item color="light">
        <ion-label position="floating">Résumé : </ion-label>       
      </ion-item>
      <p>{{ readingSheet.Summary }}</p>
  
      <ion-item color="light">
        <ion-label position="floating">Analyse critique : </ion-label>       
      </ion-item>
      <p>{{ readingSheet.CriticalAnalysis }}</p>
  
      <ion-item color="light">
        <ion-label position="floating">Catégorie : </ion-label>
      </ion-item>
      <p>{{ readingSheet.category.title }}</p>

    <div>
   
    <br/>
      <ion-button color = "dark" routerLink = "/reading-sheet/{{readingSheet.id}}/edit"> Modifier</ion-button>
      <ion-button color = "dark" (click) = "deleteReadingSheet()"> Supprimer</ion-button>
      <ion-button color = "dark" routerLink = "/reading-sheets-show"> Précédent</ion-button>
    </div>
  
  </ion-content>